@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

/* DESKTOP NAV */
.topnav {
  overflow: hidden;
  background-color: purple;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: skyblue;
  color: white;
}

.topnav-right {
  float: right;
}

/* HOME PAGE */

#description {
  background-color: orange;
}

.title {
  font-size: 3rem;
  text-align: center;
  padding-top: 20px;
}

.organization-description {
    text-align: center;
    font-size: 2rem;
}

.copyright-information-home {
  padding-top: 100px;
  text-align: center;
}

footer{ 
  padding-top: 100px;
  text-align: center;
}

/* ABOUT INFORMATION*/

#about-information {
  position: relative;
  background-color: orange;
  text-align: center;
}

.what-we-do {
  text-align: center;
}

.what-we-do-info {
  text-align: center;
}

#mission-goals {
  position: relative;
  background-color: white;
  text-align: center;
}

#our-mission {
  position: relative;
  background-color: orange;
  text-align: center;
}

#our-values {
  position: relative;
  background-color: white;
  text-align: center;
}

/* PRODUCTS SECTION */

#payment-information {
  text-align: center;
  background-color: orange;
}

ul {
  list-style-type: disc;
  list-style-position: inside; 
}

/* PRODUCT IMAGES */

section {
  box-sizing: border-box;
  min-height: fit-content;
}

.column {
  float: left;
  width: 100%;  
}

.section-container {
  display: flex;
}

#slider-one {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: lightcoral;
  display: flex;
  padding: 30px;
}

#slider-two {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: blue;
  padding: 30px;
  display: flex;
}

#slider-three {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: green;
  padding: 30px;
  display: flex;
}


.image-slider{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

.img{
    position: relative;
    width: 500px;
    height: 350px;
    transition: 0.5s;
    filter: saturate(10%);
}

.button {
    position: absolute;
    width: 500px;
    height: 350px;
    transition: 0.5s;
    background-color: rgba(0,0,0,.4);
}

.button:hover {
  background-color: rgba(0,0,0,.2);
}

/* when clicked, color */
#slider-one-span1:target ~ .image-slider #img1,
#slider-one-span1:target ~.image-slider #button-1{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span2:target ~ .image-slider #img2,
#slider-one-span2:target ~.image-slider #button-2{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span3:target ~ .image-slider #img3,
#slider-one-span3:target ~.image-slider #button-3{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span4:target ~ .image-slider #img4,
#slider-one-span4:target ~.image-slider #button-4{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span1:target ~.image-slider{
    left:10%;
}
#slider-one-span2:target ~.image-slider{
    left:0%;
}

#slider-one-span3:target ~.image-slider{
  left:-20%;
}

#slider-one-span4:target ~.image-slider{
  left:-40%;
}


/* SLIDER TWO */

#slider-two-span5:target ~ .image-slider #img5,
#slider-two-span5:target ~.image-slider #button-5{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span6:target ~ .image-slider #img6,
#slider-two-span6:target ~.image-slider #button-6{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span7:target ~ .image-slider #img7,
#slider-two-span7:target ~.image-slider #button-7{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span8:target ~ .image-slider #img8,
#slider-two-span8:target ~.image-slider #button-8{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span5:target ~.image-slider{
    left:10%;
}
#slider-two-span6:target ~.image-slider{
    left:0%;
}

#slider-two-span7:target ~.image-slider{
  left:-20%;
}

#slider-two-span8:target ~.image-slider{
  left:-40%;
}

/* SLIDER THREE */

#slider-three-span1:target ~ .image-slider #img1,
#slider-three-span1:target ~.image-slider #button-1{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span2:target ~ .image-slider #img2,
#slider-three-span2:target ~.image-slider #button-2{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span3:target ~ .image-slider #img3,
#slider-three-span3:target ~.image-slider #button-3{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span4:target ~ .image-slider #img4,
#slider-three-span4:target ~.image-slider #button-4{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span1:target ~.image-slider{
    left:10%;
}
#slider-three-span2:target ~.image-slider{
    left:0%;
}

#slider-three-span3:target ~.image-slider{
  left:-20%;
}

#slider-three-span4:target ~.image-slider{
  left:-40%;
}

/* IMAGES */

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 40%;
  top: 30%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 115% center; /* modify to match objectPosition js line 28*/
}