@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

/* DESKTOP NAV */
.topnav {
  overflow: hidden;
  background-color: purple;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 1.25rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: skyblue;
  color: white;
}

.topnav-right {
  float: right;
}

/* HOME PAGE */

#home-description {
  background-color: orange;
}

.title {
  font-size: 3rem;
  text-align: center;
  padding-top: 20px;
}

.organization-description {
    text-align: center;
    font-size: 2rem;
}

.scroll-me {
  padding-top: 10px;
  text-align: center;
  font-size: 1.5rem;
}

footer{ 
  text-align: center;
}

.copyright-information-home {
  margin-top: 50px;
  text-align: center;
}

/* HOME PAGE IMAGES */

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 40%;
  top: 30%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 115% center; /* modify to match objectPosition js line 28*/
}

/* OFFICER IMAGE SLIDER */
h1 {
  font-size: 3rem;
  text-align: center;
}

.officer-information {
  font-size: 2.5rem;
}

/* CAROUSEL IMAGES */
.carousel-background{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width:60%;
  height:70%;
  padding:0px;
  background-color: #eaeaea;
  box-shadow: 0 30px 50px #1a1919;
}

#slide-one {
  width:max-content;
  margin-top:100px;
}

#slide-two {
  width:max-content;
  margin-top:100px;
}

/* SIDE PANEL UPCOMING IMAGES */
.officer-slide{
  position: absolute;
  width:200px;
  height:300px;
  background-position: center;
  display: inline-block;
  transition: 1s;
  background-size: cover;
  z-index: 1;
  top: 50%;
  transform: translate(200%,-50%); /* distance from right of screen */
  border-radius: 20px;
  box-shadow:0 30px 50px #505050;
}

.officer-slide:nth-child(1),
.officer-slide:nth-child(2){
  left:0;
  top:0;
  transform: translate(0,0);
  border-radius: 0;
  width:100%;
  height:100%;
  box-shadow: none;
}
.officer-slide:nth-child(3){
  left:50%;
}
.officer-slide:nth-child(4){
  left:calc(50% + 220px);
}
.officer-slide:nth-child(5){
  left:calc(50% + 440px);
}
.officer-slide:nth-child(n+6){
  left:calc(50% + 660px);
  opacity: 0;
}

.officer-slide .officer-content{ /* text color */
  position: absolute;
  top:75%;
  left:2%;
  width:300px;
  text-align: left;
  padding:0;
  color: white;
  transform: translate(0,-50%);
  display: none;
  font-family: system-ui;
}
.officer-slide:nth-child(2) .officer-content{
  display: block;
  z-index: 11111;
}
.officer-slide .officer-name{
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  animation:showcontent 1s ease-in-out 1 forwards
}

.officer-slide .officer-position{
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 1.5rem;
  margin: 0;
  opacity: 0;
  animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.officer-slide button{
  padding:10px 20px;
  border:none;
  opacity: 0;
  animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{ /* animation code */
  from{
      opacity: 0;
      transform: translate(0,100px);
      filter:blur(33px);
  }to{
      opacity: 1;
      transform: translate(0,0);
      filter:blur(0);
  }
}
.officer-buttons{
  position: absolute;
  bottom:30px;
  z-index: 222222;
  text-align: center;
  width:100%;
}

.officer-buttons button{
  width:50px;
  height:50px;
  border-radius: 50%;
  border:1px solid #555;
  transition: 0.5s;
}.officer-buttons button:hover{
  background-color: #bac383;
}

/* ABOUT INFORMATION*/

#about-information {
  position: relative;
  background-color: orange;
  text-align: left;
  margin-top: 575px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5%;
  padding: 50px;
}

.what-we-do {
  padding-left: 20%;
  grid-column: 1 / span 2;
  text-align: left; 
}

.what-we-do-info {
  font-size: 2rem;
  padding-left: 20%;
  padding-top: 5%;
  grid-column: 1 / span 2;
  text-align: left;
}

.about-image {
  display: block;
  width: 100%; 
  height: 100%;
}

#mission-goals {
  position: relative;
  background-color: lightcoral;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5%;
  padding: 50px;
}

.QR-code-description {
  padding-top: 10%;
  grid-column: 2 / span 1;
}

.QR-image {
  display: block;
  width: 50%;
  height: 100%;
  grid-column: 2 / span 1;
  justify-self: center;
}


#our-mission {
  position: relative;
  background-color: orange;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5%;
  padding: 50px;
}

.mission-title {
  grid-column: 3 / span 1;
  text-align: right; 
}

.mission-info {
  font-size: 2rem;
  grid-column: 3 / span 1;
  text-align: right;
}

.our-mission-image {
  display: block;
  width: 100%; 
  height: 100%;
}

#our-values {
  position: relative;
  background-color: lightcoral;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5%;
  padding: 50px;
}

.values-title {
  padding-left: 20%;
  grid-column: 1 / span 2;
  text-align: left; 
}

.values-info {
  font-size: 2rem;
  padding-left: 20%;
  padding-top: 5%;
  grid-column: 1 / span 2;
  text-align: left;
}

.our-values-image {
  display: block;
  width: 100%; 
  height: 100%;
}

/* PRODUCTS SECTION */

#payment-information {
  text-align: center;
  background-color: orange;
}

ul {
  list-style-type: disc;
  list-style-position: inside; 
}

/* PRODUCT IMAGES */

section {
  box-sizing: border-box;
  min-height: fit-content;
}

.products-column {
  float: left;
  width: 100%;  
}

.section-container {
  display: flex;
}

/* PAYMENT INFORMATION */
#payment-information {
  position: relative;
  background-color: orange;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 0%;
  padding: 10px;
}

.our-products {
  grid-column: 2 / span 1;
  text-align: center; 
}

.tax-deductible {
  font-size: 2rem;
  grid-column: 2 / span 1;
  text-align: center;
}

.donation-options {
  font-size: 2rem;
  grid-column: 2 / span 1;
  text-align: center; 
}

.payment-options {
  font-size: 1.5rem;
  grid-column: 2 / span 1;
  text-align: center; 
}

.QR-image-2 {
  display: block;
  width: 50%;
  height: 100%;
  grid-column: 1 / span 1;
  justify-self: center;
  grid-row: 2 / span 3;
}

.QR-code-description-2 {
  grid-column: 2 / span 1;
  padding-bottom: 1%;
}


/* PRODUCT SLIDERS */
#slider-one {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: lightcoral;
  display: flex;
  padding: 30px;
}

#slider-two {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: orange;
  padding: 30px;
  display: flex;
}

#slider-three {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: lightgreen;
  padding: 30px;
  display: flex;
}

#slider-four {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: skyblue;
  padding: 30px;
  display: flex;
}

#slider-five {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: lightcoral;
  display: flex;
  padding: 30px;
}

#slider-six {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: orange;
  padding: 30px;
  display: flex;
}

#slider-seven {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: lightgreen;
  padding: 30px;
  display: flex;
}

#slider-eight {
  position: relative;
  height: 75vh;
  width: fit-content;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: skyblue;
  padding: 30px;
  display: flex;
}



.products-image-slider{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

.img{
    position: relative;
    width: 500px;
    height: 350px;
    transition: 0.5s;
    filter: saturate(10%);
}

.slider-button {
    position: absolute;
    width: 500px;
    height: 350px;
    transition: 0.5s;
    background-color: rgba(0,0,0,.4);
}

.slider-button:hover {
  background-color: rgba(0,0,0,.2);
}

/* PRICE INFORMATION TEXT */
.price-information {
  position: absolute;
  font-size: 2rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  left: 12%;
  bottom: 4%;
}


/* when clicked, color */
#slider-one-span1:target ~ .products-image-slider #img1,
#slider-one-span1:target ~.products-image-slider #slider-button-1-1{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span2:target ~ .products-image-slider #img2,
#slider-one-span2:target ~.products-image-slider #slider-button-1-2{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span3:target ~ .products-image-slider #img3,
#slider-one-span3:target ~.products-image-slider #slider-button-1-3{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span4:target ~ .products-image-slider #img4,
#slider-one-span4:target ~.products-image-slider #slider-button-1-4{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span5:target ~ .products-image-slider #img5,
#slider-one-span5:target ~.products-image-slider #slider-button-1-5{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span6:target ~ .products-image-slider #img6,
#slider-one-span6:target ~.products-image-slider #slider-button-1-6{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span7:target ~ .products-image-slider #img7,
#slider-one-span7:target ~.products-image-slider #slider-button-1-7{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span8:target ~ .products-image-slider #img8,
#slider-one-span8:target ~.products-image-slider #slider-button-1-8{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-one-span1:target ~.products-image-slider{
  left:10%;
}

#slider-one-span2:target ~.products-image-slider{
  left: -2.5%;
}

#slider-one-span3:target ~.products-image-slider{
left:-15%;
}

#slider-one-span4:target ~.products-image-slider{
left:-27.5%;
}

#slider-one-span5:target ~.products-image-slider{
left:-40%;
}

#slider-one-span6:target ~.products-image-slider{
left:-52.5%;
}

#slider-one-span7:target ~.products-image-slider{
left:-65%;
}

#slider-one-span8:target ~.products-image-slider{
left:-77.5%;
}


/* SLIDER TWO */

#slider-two-span1:target ~ .products-image-slider #img1,
#slider-two-span1:target ~.products-image-slider #slider-button-2-1{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span2:target ~ .products-image-slider #img2,
#slider-two-span2:target ~.products-image-slider #slider-button-2-2{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span3:target ~ .products-image-slider #img3,
#slider-two-span3:target ~.products-image-slider #slider-button-2-3{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span4:target ~ .products-image-slider #img4,
#slider-two-span4:target ~.products-image-slider #slider-button-2-4{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span5:target ~ .products-image-slider #img5,
#slider-two-span5:target ~.products-image-slider #slider-button-2-5{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span6:target ~ .products-image-slider #img6,
#slider-two-span6:target ~.products-image-slider #slider-button-2-6{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span7:target ~ .products-image-slider #img7,
#slider-two-span7:target ~.products-image-slider #slider-button-2-7{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span8:target ~ .products-image-slider #img8,
#slider-two-span8:target ~.products-image-slider #slider-button-2-8{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-two-span1:target ~.products-image-slider{
  left:10%;
}

#slider-two-span2:target ~.products-image-slider{
  left: -2.5%;
}

#slider-two-span3:target ~.products-image-slider{
left:-15%;
}

#slider-two-span4:target ~.products-image-slider{
left:-27.5%;
}

#slider-two-span5:target ~.products-image-slider{
left:-40%;
}

#slider-two-span6:target ~.products-image-slider{
left:-52.5%;
}

#slider-two-span7:target ~.products-image-slider{
left:-65%;
}

#slider-two-span8:target ~.products-image-slider{
left:-77.5%;
}

/* SLIDER THREE */

#slider-three-span1:target ~ .products-image-slider #img1,
#slider-three-span1:target ~.products-image-slider #slider-button-3-1{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span2:target ~ .products-image-slider #img2,
#slider-three-span2:target ~.products-image-slider #slider-button-3-2{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span3:target ~ .products-image-slider #img3,
#slider-three-span3:target ~.products-image-slider #slider-button-3-3{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span4:target ~ .products-image-slider #img4,
#slider-three-span4:target ~.products-image-slider #slider-button-3-4{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span5:target ~ .products-image-slider #img5,
#slider-three-span5:target ~.products-image-slider #slider-button-3-5{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span6:target ~ .products-image-slider #img6,
#slider-three-span6:target ~.products-image-slider #slider-button-3-6{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span7:target ~ .products-image-slider #img7,
#slider-three-span7:target ~.products-image-slider #slider-button-3-7{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span8:target ~ .products-image-slider #img8,
#slider-three-span8:target ~.products-image-slider #slider-button-3-8{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-three-span1:target ~.products-image-slider{
  left:10%;
}

#slider-three-span2:target ~.products-image-slider{
  left: -2.5%;
}

#slider-three-span3:target ~.products-image-slider{
left:-15%;
}

#slider-three-span4:target ~.products-image-slider{
left:-27.5%;
}

#slider-three-span5:target ~.products-image-slider{
left:-40%;
}

#slider-three-span6:target ~.products-image-slider{
left:-52.5%;
}

#slider-three-span7:target ~.products-image-slider{
left:-65%;
}

#slider-three-span8:target ~.products-image-slider{
left:-77.5%;
}

/* SLIDER FOUR */

#slider-four-span1:target ~ .products-image-slider #img1,
#slider-four-span1:target ~.products-image-slider #slider-button-4-1{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-four-span2:target ~ .products-image-slider #img2,
#slider-four-span2:target ~.products-image-slider #slider-button-4-2{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-four-span3:target ~ .products-image-slider #img3,
#slider-four-span3:target ~.products-image-slider #slider-button-4-3{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-four-span4:target ~ .products-image-slider #img4,
#slider-four-span4:target ~.products-image-slider #slider-button-4-4{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-four-span5:target ~ .products-image-slider #img5,
#slider-four-span5:target ~.products-image-slider #slider-button-4-5{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-four-span6:target ~ .products-image-slider #img6,
#slider-four-span6:target ~.products-image-slider #slider-button-4-6{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-four-span7:target ~ .products-image-slider #img7,
#slider-four-span7:target ~.products-image-slider #slider-button-4-7{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-four-span8:target ~ .products-image-slider #img8,
#slider-four-span8:target ~.products-image-slider #slider-button-4-8{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-four-span1:target ~.products-image-slider{
  left:10%;
}

#slider-four-span2:target ~.products-image-slider{
  left: -2.5%;
}

#slider-four-span3:target ~.products-image-slider{
left:-15%;
}

#slider-four-span4:target ~.products-image-slider{
left:-27.5%;
}

#slider-four-span5:target ~.products-image-slider{
left:-40%;
}

#slider-four-span6:target ~.products-image-slider{
left:-52.5%;
}

#slider-four-span7:target ~.products-image-slider{
left:-65%;
}

#slider-four-span8:target ~.products-image-slider{
left:-77.5%;
}

/* SLIDER FIVE */

#slider-five-span1:target ~ .products-image-slider #img1,
#slider-five-span1:target ~.products-image-slider #slider-button-5-1{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-five-span2:target ~ .products-image-slider #img2,
#slider-five-span2:target ~.products-image-slider #slider-button-5-2{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-five-span3:target ~ .products-image-slider #img3,
#slider-five-span3:target ~.products-image-slider #slider-button-5-3{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-five-span4:target ~ .products-image-slider #img4,
#slider-five-span4:target ~.products-image-slider #slider-button-5-4{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-five-span5:target ~ .products-image-slider #img5,
#slider-five-span5:target ~.products-image-slider #slider-button-5-5{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-five-span6:target ~ .products-image-slider #img6,
#slider-five-span6:target ~.products-image-slider #slider-button-5-6{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-five-span7:target ~ .products-image-slider #img7,
#slider-five-span7:target ~.products-image-slider #slider-button-5-7{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-five-span8:target ~ .products-image-slider #img8,
#slider-five-span8:target ~.products-image-slider #slider-button-5-8{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-five-span1:target ~.products-image-slider{
  left:10%;
}

#slider-five-span2:target ~.products-image-slider{
  left: -2.5%;
}

#slider-five-span3:target ~.products-image-slider{
left:-15%;
}

#slider-five-span4:target ~.products-image-slider{
left:-27.5%;
}

#slider-five-span5:target ~.products-image-slider{
left:-40%;
}

#slider-five-span6:target ~.products-image-slider{
left:-52.5%;
}

#slider-five-span7:target ~.products-image-slider{
left:-65%;
}

#slider-five-span8:target ~.products-image-slider{
left:-77.5%;
}

/* SLIDER SIX */

#slider-six-span1:target ~ .products-image-slider #img1,
#slider-six-span1:target ~.products-image-slider #slider-button-6-1{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-six-span2:target ~ .products-image-slider #img2,
#slider-six-span2:target ~.products-image-slider #slider-button-6-2{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-six-span3:target ~ .products-image-slider #img3,
#slider-six-span3:target ~.products-image-slider #slider-button-6-3{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-six-span4:target ~ .products-image-slider #img4,
#slider-six-span4:target ~.products-image-slider #slider-button-6-4{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-six-span5:target ~ .products-image-slider #img5,
#slider-six-span5:target ~.products-image-slider #slider-button-6-5{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-six-span6:target ~ .products-image-slider #img6,
#slider-six-span6:target ~.products-image-slider #slider-button-6-6{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-six-span7:target ~ .products-image-slider #img7,
#slider-six-span7:target ~.products-image-slider #slider-button-6-7{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-six-span8:target ~ .products-image-slider #img8,
#slider-six-span8:target ~.products-image-slider #slider-button-6-8{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-six-span1:target ~.products-image-slider{
  left:10%;
}

#slider-six-span2:target ~.products-image-slider{
  left: -2.5%;
}

#slider-six-span3:target ~.products-image-slider{
left:-15%;
}

#slider-six-span4:target ~.products-image-slider{
left:-27.5%;
}

#slider-six-span5:target ~.products-image-slider{
left:-40%;
}

#slider-six-span6:target ~.products-image-slider{
left:-52.5%;
}

#slider-six-span7:target ~.products-image-slider{
left:-65%;
}

#slider-six-span8:target ~.products-image-slider{
left:-77.5%;
}

/* SLIDER SEVEN */

#slider-seven-span1:target ~ .products-image-slider #img1,
#slider-seven-span1:target ~.products-image-slider #slider-button-7-1{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-seven-span2:target ~ .products-image-slider #img2,
#slider-seven-span2:target ~.products-image-slider #slider-button-7-2{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-seven-span3:target ~ .products-image-slider #img3,
#slider-seven-span3:target ~.products-image-slider #slider-button-7-3{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-seven-span4:target ~ .products-image-slider #img4,
#slider-seven-span4:target ~.products-image-slider #slider-button-7-4{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-seven-span5:target ~ .products-image-slider #img5,
#slider-seven-span5:target ~.products-image-slider #slider-button-7-5{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-seven-span6:target ~ .products-image-slider #img6,
#slider-seven-span6:target ~.products-image-slider #slider-button-7-6{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-seven-span7:target ~ .products-image-slider #img7,
#slider-seven-span7:target ~.products-image-slider #slider-button-7-7{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-seven-span8:target ~ .products-image-slider #img8,
#slider-seven-span8:target ~.products-image-slider #slider-button-7-8{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-seven-span1:target ~.products-image-slider{
  left:10%;
}

#slider-seven-span2:target ~.products-image-slider{
  left: -2.5%;
}

#slider-seven-span3:target ~.products-image-slider{
left:-15%;
}

#slider-seven-span4:target ~.products-image-slider{
left:-27.5%;
}

#slider-seven-span5:target ~.products-image-slider{
left:-40%;
}

#slider-seven-span6:target ~.products-image-slider{
left:-52.5%;
}

#slider-seven-span7:target ~.products-image-slider{
left:-65%;
}

#slider-seven-span8:target ~.products-image-slider{
left:-77.5%;
}

/* SLIDER EIGHT */

#slider-eight-span1:target ~ .products-image-slider #img1,
#slider-eight-span1:target ~.products-image-slider #slider-button-8-1{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-eight-span2:target ~ .products-image-slider #img2,
#slider-eight-span2:target ~.products-image-slider #slider-button-8-2{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-eight-span3:target ~ .products-image-slider #img3,
#slider-eight-span3:target ~.products-image-slider #slider-button-8-3{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-eight-span4:target ~ .products-image-slider #img4,
#slider-eight-span4:target ~.products-image-slider #slider-button-8-4{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-eight-span5:target ~ .products-image-slider #img5,
#slider-eight-span5:target ~.products-image-slider #slider-button-8-5{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-eight-span6:target ~ .products-image-slider #img6,
#slider-eight-span6:target ~.products-image-slider #slider-button-8-6{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-eight-span7:target ~ .products-image-slider #img7,
#slider-eight-span7:target ~.products-image-slider #slider-button-8-7{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-eight-span8:target ~ .products-image-slider #img8,
#slider-eight-span8:target ~.products-image-slider #slider-button-8-8{
    background-color: transparent;
    filter: saturate(100%);
}

#slider-eight-span1:target ~.products-image-slider{
  left:10%;
}

#slider-eight-span2:target ~.products-image-slider{
  left: -2.5%;
}

#slider-eight-span3:target ~.products-image-slider{
left:-15%;
}

#slider-eight-span4:target ~.products-image-slider{
left:-27.5%;
}

#slider-eight-span5:target ~.products-image-slider{
left:-40%;
}

#slider-eight-span6:target ~.products-image-slider{
left:-52.5%;
}

#slider-eight-span7:target ~.products-image-slider{
left:-65%;
}

#slider-eight-span8:target ~.products-image-slider{
left:-77.5%;
}

/* EVENT SECTION */

/* *{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
} */

.events-container {
  position: relative;
  background: #aad5f6;
}

.slide-1 {
  background: url('/assets/one.jpg');
}
.slide-2 {
  background: url('/assets/two.jpg');
}
.slide-3 {
  background: url('/assets/three.jpg');
}

.slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  animation:showcontent 1s ease-in-out 1 forwards
}

@keyframes showcontent{
  from{
      opacity: 0.6;
      transform: translate(200px,0px);
      filter:blur(100px);
  }
  to{
      opacity: 1;
      transform: translate(0,0);
      filter:blur(0);
  }
}

.caption {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 1%;
  bottom: 8%;
  padding: 10px;
  animation:showcontent 1s ease-in-out 0.5s 1 forwards
}
.caption h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
}
.caption p {
  max-width: 600px;
  width: 90%;
  margin: 0px auto;
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5em;
}
.events-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  background: rgba(0, 0, 0, .1);
  border-radius: 30%;
}
.events-arrow img {
  width: 50px;
}
.events-arrow:hover {
  background: rgba(0, 0, 0, .4);
}
.events-left {
  left: 0;
}
.events-right {
  right: 0;
}